

.navbar {
    background-color: #1f1f1f;
}

.navbar h1 {
    letter-spacing: 0.18em;
}

.view-window {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.card {
    border-radius: 0;
}

.card.soft {
    box-shadow: none;
}

body {
    background-color: #f4f4f4;
}




@media (max-width:800px) {
    .container {
       padding-left:1em;
       padding-right:1em; 
    }
    .navbar h1 {
        padding-left:0.5em;
    }
}
@media (max-width:400px) {
    .navbar .display-flex {
        display:block;
    }
    .navbar .nav li {
        line-height:2em;
        }
    }